h1{
    color:white;
    text-align: center;
    background-color: darkorange;
}
body{
    background-color: darkseagreen;
}
h3{
    color: darkblue;
    font-style: bold;
    text-align: center;
}
img{
    margin-left: 660px;
    margin-top: 30px;
}
